<div class="row mt-5 mb-5">
  <div class="col">
    <%= form_tag "/", method: "GET", class: "form-inline" do %>
      <div class="form-group mr-3">
        <%= label_tag :keyword, "検索キーワード", class: "sr-only" %>
        <%= text_field_tag :keyword, "", class: "form-control", placeholder: "検索キーワード" %>
      </div>
      <%= submit_tag "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
